[data-dark="on"] {
  background-color: #222 !important;
}

[data-dark="on"] .menu {
  background: #e7e8ee !important;
}

[data-dark="on"] .menu a {
  color: #222;
}

[data-dark="off"] .menu a:hover {
  color: #e54 !important;
}

[data-dark="on"] .dropdown-menu li {
  display: flex;
  justify-content: center;
  background-color: rgba(244, 244, 244, 0.8);
  border-bottom: solid 5px #e7e8ee;
}

[data-dark="on"] .dropdown-menu li:first-child {
  border-top: solid 5px #e7e8ee;
}

[data-dark="on"] .dropdown-menu li a:hover {
  background-color: #222;
  color: whitesmoke;
}

[data-dark="on"] .bar {
  background-color: #222;
}

[data-dark="on"] .login {
  transition: all 0.2s ease-in;
  background-color: gainsboro;
  border-radius: 2px;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  max-width: 80px;
}

[data-dark="on"] .login:hover {
  outline: 0.5px solid rgb(220, 220, 220, 0.1);
  border-radius: 2px;
  transition: all 0.2s ease-in;
  background-color: #0f255d;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

[data-dark="on"] .login a:hover {
  color: gainsboro !important;
}

[data-dark="off"] .login a:hover {
  color: #222 !important;
}

[data-dark="off"] {
  background-color: #e7e8ee;
}
[data-dark="on"] .animes-descricao section {
  background-color: #e7e8ee;
}

[data-dark="on"] .animes-descricao p {
  color: #222;
}
[data-dark="on"] .animes-descricao h2 {
  color: #801d01;
}

[data-dark="on"] .tag-atributes p {
  color: whitesmoke;
}

[data-dark="on"] .art.year {
  background-color: var(--color-Dark1);
}

[data-dark="on"] .art.time {
  background-color: var(--color-Dark2);
}

[data-dark="on"] .art.gen {
  background-color: var(--color-Dark3);
}

[data-dark="on"] .text-year-anime {
  opacity: 0.3;
}

[data-dark="on"] .text-year-anime span {
  color: #e7e8ee !important;
}

[data-dark="on"] .animes-lista::-webkit-scrollbar {
  box-shadow: inset 0 0 5px #e7e8ee;
  border-radius: 10px;
  width: 15px;
}

[data-dark="on"] .animes-lista::-webkit-scrollbar-thumb {
  background: #222;
  border-radius: 10px;
  border-left: 3px solid #222;
  border-right: 3px solid #222;
  box-shadow: inset 0 0 10px rgba(231, 232, 238, 0.8);
}

[data-dark="on"] .animes-lista::-webkit-scrollbar-track {
  background: #222;
}

[data-dark="on"] .animes-lista::-webkit-scrollbar-thumb:hover {
  transition: background-color 1s ease-in;
  background: #e7e8ee;
}

[data-dark="off"].grid-containerColor .community .text-comunidade,
[data-dark="off"] .community .text-grid p {
  color: #222;
}

[data-dark="off"].community h1 {
  color: #1b72b8;
}

[data-dark="off"].grid-containerColor .click-cm {
  color: #1b72b8;
}

[data-dark="off"] .text-number a {
  color: #222;
}

[data-dark="on"] .text-grid p,
[data-dark="on"] .text-grid a,
[data-dark="on"] .number-anime h3 {
  color: gainsboro;
}

[data-dark="on"] #number h1 {
  color: var(--color-w);
}

[data-dark="on"] .number-grid span {
  color: #3b8dad;
}

[data-dark="on"] .community .titulo {
  color: #b8621b;
}

[data-dark="off"].grid-containerColor .titulo {
  color: #1b72b8;
}

[data-dark="on"] .faq h1 {
  color: #1b72b8;
}

[data-dark="on"] .faq-lista dt {
  color: gainsboro !important;
}

[data-dark="on"] .faq-lista dd {
  font-weight: bold;
  color: #111;
}

[data-dark="on"] .faq-lista dd.ativo {
  background-color: #e7e8ee;
}

[data-dark="on"] .faq-lista dt::before {
  background-color: var(--color-w) !important;
}

[data-dark="off"] .copy {
  background: #e7e8ee;
}

[data-dark="on"].copy .dados p {
  color: rgb(255, 255, 255, 0.7);
}

[data-dark="off"].copy .dados p {
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 0 0 0.5px rgba(0, 0, 0, 0.8);
}

[data-dark="off"].copy .dados li img {
  filter: brightness(40%) saturate(100%);
}

[data-dark="on"] .div-transparent:before {
  background-image: linear-gradient(
    to right,
    transparent,
    rgb(27, 114, 184, 0.4),
    transparent
  );
}
