.text-year-anime {
  font-size: 0.8rem;
  text-align: right !important;
}

[date-year] {
  border-radius: 5px;
  padding: 2px;
  background-color: rgba(34, 34, 34, 0.6);
  color: var(--color-gray-light);
}

@media (max-width: 450px) {
  .text-year-anime {
    font-size: 0.7rem !important;
  }
}

@media (max-width: 350px) {
  .text-year-anime {
    font-size: 0.6rem !important;
  }
}
