.copy {
  display: grid;
  justify-items: center;
  grid-column: 1/-1;
  background: #222;
}

.copy p {
  text-align: center;
  align-self: center;
  font-family: "Karla", sans-serif;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.5);
}

@media (max-width: 420px){
  
}
