.copy {
  display: grid;
  justify-items: center;
  grid-column: 1/-1;
  background: #222;
}

.copy p {
  text-align: center;
  align-self: center;
  font-family: "Karla", sans-serif;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.5);
}

@media (max-width: 728px) {
  .dados li {
    margin-bottom: 0rem;
  }
}

@media (max-width: 420px) {
  .dados {
    padding: 10px;
  }
  .copy p {
    font-size: 0.8rem;
  }
}

@media (max-width: 328px) {
  .copy img {
    max-width: 24px;
  }
  .copy p {
    font-size: 0.7rem;
  }
}
