.wrapper {
  padding-bottom: 40px;
}

.wrapper {
  background-color: transparent;
}

.divider {
  position: relative;
  margin-top: 10px;
  height: 1px;
}

.div-transparent:before {
  content: "";
  position: absolute;
  top: 0;
  left: 5%;
  right: 5%;
  width: 90%;
  height: 1px;
  background-image: linear-gradient(
    to right,
    transparent,
    rgb(184, 98, 27, 0.4),
    transparent
  );
}
